label {
    display: inline-block;
    width: 7em;
    margin: .5em 0;
    color: #608B7D;
    font-weight: bold;
}

textarea {
    width: 24.2em;
    height: 6em;
}

input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
}

button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #cfdcd8;
    }

    button:disabled {
        background-color: #eee;
        color: #ccc;
        cursor: auto;
    }