<div *ngIf="parametro">
    <h2>Detalle del parametro: {{parametro.parametro}}</h2>

    <div>
        Es Texto: <input id="checkTexto" type="checkbox" [(ngModel)]="parametro.isText" />
    </div>

    <div *ngIf="parametro.isText != true">
        <div>
            <label>Parametro: </label>
            <input [(ngModel)]="parametro.parametro" placeholder="Identificador Parametro" />
        </div><div>
            <label>Tipo:</label>
            <select class="form-control" id="cbTipo"
                    required
                    [(ngModel)]="parametro.tipoId" name="cbTipo.value">
                <option *ngFor="let tipo of tipos" [value]="tipo.id_tipo" id="tipo_{{tipo.tipo}}">{{tipo.tipo}}</option>
            </select>
        </div>
    </div>
    <div *ngIf="parametro.isText">
        <div>
            <label>Texto: </label>
        </div><div>
            <textarea [(ngModel)]="parametro.parametro"></textarea>
        </div>
    </div>
    <button (click)="goBack()">Cancelar</button>
    <button (click)="guardarParametro()">Guardar</button>
</div>