<div *ngIf="plantilla">
    <h2>Detalle de la plantilla: {{plantilla.nombre}}</h2>

    <div>
        <label>Nombre: </label>
        <input [(ngModel)]="plantilla.nombre" placeholder="Nombre Plantilla" />
    </div><div>
        <label>Creador: </label>
        <input [(ngModel)]="plantilla.owner" placeholder="Creador" />
    </div><div>
        <label>Descripci&#243;n: </label>
    </div><div>
        <textarea [(ngModel)]="plantilla.descripcion"></textarea>
    </div>

    <div>
        <button (click)="goBack()">Cancelar</button>
        <button (click)="save()">Guardar</button>
    </div>
</div>